# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Backup files # 
*.bak 

# File-based project format
*.iws

# Python # 
*.py[cod] 
*$py.class 

# Distribution / packaging 
.Python build/ 
develop-eggs/ 
dist/ 
downloads/ 
eggs/ 
.eggs/ 
lib/ 
lib64/ 
parts/ 
sdist/ 
var/ 
wheels/ 
*.egg-info/ 
.installed.cfg 
*.egg 
*.manifest 
*.spec 


# Unit test / coverage reports 
htmlcov/ 
.tox/ 
.coverage 
.coverage.* 
.cache 
.pytest_cache/ 
nosetests.xml 
coverage.xml 
*.cover 
.hypothesis/ 

# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 


# Package control specific files Package 
Control.last-run 
Control.ca-list 
Control.ca-bundle 
Control.system-ca-bundle 
GitHub.sublime-settings 


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontent/node_modules
frontent/.pnp
frontent/.pnp.js

# testing
frontent/coverage

# production
frontent/build

# misc
frontent/.DS_Store
frontent/.env.local
frontent/.env.development.local
frontent/.env.test.local
frontent/.env.production.local

frontent/npm-debug.log*
frontent/yarn-debug.log*
frontent/yarn-error
