.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.in-currency {
  margin-inline: 20px;
  display: flex;
}
Label{
  margin-right: 20px;
}

.value-from {
  margin-inline: 20px;
}

.out-currency {
  margin-inline: 20px;
}

.out-currency-select{
  display: flex;
  margin-bottom: 20px;
  min-width: 300px;
}

.currency-data span{
  margin-inline: 10px;
}

.currency-data {
  text-align: left;
}

.result{
  display: flex;
}

.result input[type=submit] {
  margin-inline: 25px;
}

.result Label span {
  margin-inline: 25px;
  font-size: 1.2em;

}
